<div class="bs-dropdown bs-ms-3">
  <button class="bs-btn bs-btn-bd-light bs-dropdown-toggle" id="bd-versions" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static">
    <span class="bs-d-none bs-d-lg-inline">Bootstrap</span> v{{ .Site.Params.docs_version }}
  </button>
  <ul class="bs-dropdown-menu bs-dropdown-menu-end" aria-labelledby="bd-versions">
    <li><a class="bs-dropdown-item current" aria-current="true" href="/docs/{{ .Site.Params.docs_version }}/">Latest ({{ .Site.Params.docs_version }}.x)</a></li>
    <li><hr class="bs-dropdown-divider"></li>
    <li><a class="bs-dropdown-item" href="https://getbootstrap.com/docs/4.6/">v4.6.x</a></li>
    <li><a class="bs-dropdown-item" href="https://getbootstrap.com/docs/3.4/">v3.4.1</a></li>
    <li><a class="bs-dropdown-item" href="https://getbootstrap.com/2.3.2/">v2.3.2</a></li>
    <li><hr class="bs-dropdown-divider"></li>
    <li><a class="bs-dropdown-item" href="/docs/versions/">All versions</a></li>
  </ul>
</div>
