<nav class="bd-subnavbar ns-py-2" aria-label="Secondary navigation">
  <div class="ns-container-xxl ns-d-flex ns-align-items-md-center">
    <form class="bd-search ns-position-relative ns-me-auto">
      <input type="search" class="ns-form-control" id="search-input" placeholder="Search docs..." aria-label="Search docs for..." autocomplete="off" data-bd-docs-version="{{ .Site.Params.docs_version }}">
    </form>

    {{ partial "docs-versions" . }}

    <button class="ns-btn bd-sidebar-toggle ns-d-md-none ns-py-0 px-1 ns-ms-3 ns-order-3 ns-collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#bd-docs-nav" aria-controls="bd-docs-nav" aria-expanded="false" aria-label="Toggle docs navigation">
      {{ partial "icons/expand.svg" (dict "class" "bi bi-expand" "width" "24" "height" "24") }}
      {{ partial "icons/collapse.svg" (dict "class" "bi bi-collapse" "width" "24" "height" "24") }}
    </button>
  </div>
</nav>
