<nav class="bs-collapse bd-links" id="bd-docs-nav" aria-label="Docs navigation">
  {{- $url := split .Permalink "/" -}}
  {{- $page_slug := index $url (sub (len $url) 2) -}}

  <ul class="bs-list-unstyled bs-mb-0 bs-py-3 bs-pt-md-1">
    {{- range $group := .Site.Data.sidebar -}}
    {{- $link := $group.title -}}
    {{- $link_slug := $link | urlize -}}

    {{- if $group.pages -}}
    {{- $link = index $group.pages 0 -}}
    {{- $link_slug = $link.title | urlize -}}
    {{- end -}}

    {{- $group_slug := $group.title | urlize -}}
    {{- $is_active_group := eq $.Page.Params.group $group_slug -}}

    {{- if $group.pages }}
    <li class="bs-mb-1">
      <button
        class="bs-btn bs-d-inline-flex bs-align-items-center bs-rounded{{ if not $is_active_group }} bs-collapsed{{ end }}"
        data-bs-toggle="collapse" data-bs-target="#{{ $group_slug }}-collapse" aria-expanded="{{ $is_active_group }}" {{
        if $is_active_group }} aria-current="true" {{ end }}>
        {{ $group.title }}
      </button>

      <div class="bs-collapse{{ if $is_active_group }} bs-show{{ end }}" id="{{ $group_slug }}-collapse">
        <ul class="bs-list-unstyled bs-fw-normal bs-pb-1 bs-small">
          {{- range $doc := $group.pages -}}
          {{- $doc_slug := $doc.title | urlize -}}
          {{- $is_active := and $is_active_group (eq $page_slug $doc_slug) -}}
          {{- $href := printf "/docs/%s/%s/%s/" $.Site.Params.docs_version $group_slug $doc_slug }}
          <li><a href="{{ $href }}"
                 class="bs-d-inline-flex bs-align-items-center bs-rounded{{ if $is_active }} active{{ end }}" {{ if
                 $is_active }} aria-current="page" {{ end }}>{{ $doc.title }}</a></li>
          {{- end }}
        </ul>
      </div>
    </li>
    {{- else }}
    <li class="bs-my-3 bs-mx-4 bs-border-top"></li>
    <li>
      <a href="/docs/{{ $.Site.Params.docs_version }}/{{ $group_slug }}/"
         class="bs-d-inline-flex bs-align-items-center bs-rounded{{ if $is_active_group }} active{{ end }}" {{ if
         $is_active_group }} aria-current="page" {{ end }}>
        {{ $group.title }}
      </a>
    </li>
    {{- end }}
    {{- end }}
  </ul>
</nav>
