// List Groups

// scss-docs-start list-group-mixin
@import "../monsta";

@mixin list-group-item-variant($state, $background, $color) {
  .#{$prefix}list-group-item-#{$state} {
    color: $color;
    background-color: $background;

    &.#{$prefix}list-group-item-action {
      &:hover,
      &:focus {
        color: $color;
        background-color: shade-color($background, 10%);
      }

      &.#{$prefix}active {
        color: $white;
        background-color: $color;
        border-color: $color;
      }
    }
  }
}
// scss-docs-end list-group-mixin
