<div class="bd-masthead ns-mb-3" id="content">
  <div class="ns-container ns-px-4 ns-px-md-3">
    <div class="ns-row ns-align-items-lg-center">
      <div class="ns-col-8 ns-mx-auto ns-col-md-4 ns-order-md-2 ns-col-lg-5">
        {{ partial "icons/homepage-hero.svg" (dict "class" "img-fluid mb-3 mb-md-0" "width" "600" "height" "533") }}
      </div>
      <div class="ns-col-md-8 ns-order-md-1 ns-col-lg-7 ns-text-center ns-text-md-start">
        <h1 class="ns-mb-3">Build fast, responsive sites with Bootstrap</h1>
        <p class="ns-lead ns-mb-4">
          Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end
          open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt
          components, and powerful JavaScript plugins.
        </p>

        <div class="ns-d-flex ns-flex-column ns-flex-md-row">
          <a href="/docs/{{ .Site.Params.docs_version }}/getting-started/introduction/"
             class="ns-btn ns-btn-lg btn-bd-primary ns-mb-3 ns-me-md-3"
             onclick="ga('send', 'event', 'Jumbotron actions', 'Get started', 'Get started');">Get started</a>
          <a href="/docs/{{ .Site.Params.docs_version }}/getting-started/download/"
             class="ns-btn ns-btn-lg ns-btn-outline-secondary ns-mb-3"
             onclick="ga('send', 'event', 'Jumbotron actions', 'Download', 'Download {{ .Site.Params.current_version }}');">Download</a>
        </div>
        <p class="ns-text-muted mb-0">
          Currently <strong>v{{ .Site.Params.current_version }}</strong>
          <span class="ns-px-1">&middot;</span>
          <a href="https://getbootstrap.com/docs/4.6/getting-started/introduction/" class="ns-link-secondary">v4.6.x
            docs</a>
          <span class="ns-px-1">&middot;</span>
          <a href="/docs/versions/" class="ns-link-secondary">All releases</a>
        </p>
      </div>
    </div>
    {{ partial "ads" . }}
  </div>
</div>
