<div class="bd-masthead bs-mb-3" id="content">
  <div class="bs-container bs-px-4 bs-px-md-3">
    <div class="bs-row bs-align-items-lg-center">
      <div class="bs-col-8 bs-mx-auto bs-col-md-4 bs-order-md-2 bs-col-lg-5">
        {{ partial "icons/homepage-hero.svg" (dict "class" "img-fluid mb-3 mb-md-0" "width" "600" "height" "533") }}
      </div>
      <div class="bs-col-md-8 bs-order-md-1 bs-col-lg-7 bs-text-center bs-text-md-start">
        <h1 class="bs-mb-3">Build fast, responsive sites with Monsta Bootstrap</h1>
        <p class="bs-lead bs-mb-4">
          Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end
          open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt
          components, and powerful JavaScript plugins.
        </p>

        <div class="bs-d-flex bs-flex-column bs-flex-md-row">
          <a href="/docs/{{ .Site.Params.docs_version }}/getting-started/introduction/"
             class="bs-btn bs-btn-lg btn-bd-primary bs-mb-3 bs-me-md-3"
             onclick="ga('send', 'event', 'Jumbotron actions', 'Get started', 'Get started');">Get started</a>
          <a href="/docs/{{ .Site.Params.docs_version }}/getting-started/download/"
             class="bs-btn bs-btn-lg bs-btn-outline-secondary bs-mb-3"
             onclick="ga('send', 'event', 'Jumbotron actions', 'Download', 'Download {{ .Site.Params.current_version }}');">Download</a>
        </div>
        <p class="bs-text-muted bs-mb-0">
          Currently <strong>v{{ .Site.Params.current_version }}</strong>
<!--          <span class="bs-px-1">&middot;</span>-->
<!--          <a href="https://getbootstrap.com/docs/4.6/getting-started/introduction/" class="bs-link-secondary">v4.6.x-->
<!--            docs</a>-->
<!--          <span class="bs-px-1">&middot;</span>-->
<!--          <a href="/docs/versions/" class="bs-link-secondary">All releases</a>-->
        </p>
      </div>
    </div>
    {{ partial "ads" . }}
  </div>
</div>
